/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-red-200: 0 36% 70%;
  --clr-red-300: 0 93% 68%;

  /* NEUTRAL */

  --clr-red-700: 0 6% 24%;

  /* GRADIENTS */

  --clr-white: 0 0% 100%;
  --clr-red-50: 0 100% 98%;
  --grad-bg: linear-gradient(
    135deg,
    hsl(var(--clr-white)),
    hsl(var(--clr-red-50))
  );

  --clr-red-100: 0 80% 86%;
  --clr-red-150: 0 74% 74%;
  --grad-btn: linear-gradient(
    135deg,
    hsl(var(--clr-red-100)),
    hsl(var(--clr-red-200))
  );

  /* FONT */

  --ff-sans: 'Josefin Sans', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  display: block;
  background: transparent;
  color: inherit;
  border: none;
  outline: transparent;
  cursor: pointer;
}

/* UTILS */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* BASE */

body {
  font-family: var(--ff-sans);
  background: var(--grad-bg);
  color: hsl(var(--clr-red-200));
}

.container {
  max-width: 31.5em;
  margin-inline: auto;
  padding-inline: 2em;
}

/* HEADER */

header {
  margin-block: 2em;
}

.header__logo-wrapper {
  max-width: 6.25em;
}

/* HERO SECTION */

.hero__img {
  width: 100%;
  object-fit: cover;
}

.hero__content {
  text-align: center;
  margin-block: 4em 2em;
}

.title {
  font-size: 2.5rem;
  font-weight: var(--fw-semibold);
  letter-spacing: 0.275em;
  line-height: 1.06;
  text-transform: uppercase;
  color: hsl(var(--clr-red-700));
  margin-bottom: 0.375em;
}

.title span {
  font-weight: var(--fw-light);
  color: hsl(var(--clr-red-200));
}

.hero__desc {
  font-size: 0.875rem;
  line-height: 1.6;
}

/* SUBSCRIBE FORM */

.hero__sub-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-block: 2em 3em;
  border: 1px solid hsl(var(--clr-red-200));
  border-radius: 5em;
}

.hero__input {
  flex: 1;
  font-size: 0.875rem;
  background: transparent;
  color: hsl(var(--clr-red-700));
  margin: 1em 0 1em 1.5em;
  border: transparent;
  outline: transparent;
}

.hero__input::placeholder {
  color: hsl(var(--clr-red-200));
}

.hero__error-msg {
  font-size: 0.8125rem;
  position: absolute;
  bottom: -1.615em;
  color: hsl(var(--clr-red-300));
  margin-left: 1.5em;
}

.hero__error-icon-wrapper,
.hero__error-msg {
  display: none;
}

.hero__submit-btn {
  background: var(--grad-btn);
  margin: -1px -1px -1px 0;
  padding: 0.875em 1.5625em 0.875em 1.6875em;
  border: 1px solid hsl(var(--clr-red-200));
  border-radius: 5em;
}

/* ERROR */

.hero__sub-form.error .hero__error-msg,
.hero__sub-form.error .hero__error-icon-wrapper {
  display: block;
}

.hero__sub-form.error {
  border: 2px solid hsl(var(--clr-red-300));
}

.hero__sub-form.error .hero__submit-btn {
  margin: -2px;
  margin-left: 0;
}

@media screen and (min-width: 40em) {
  /* BASE */

  .container {
    max-width: 27.81em;
    margin: 0;
    margin-left: 10.31em;
    padding: 0;
  }

  /* HEADER */

  header {
    margin-block: 4em 8.2em;
  }

  .header__logo-wrapper {
    max-width: 9.875em;
  }

  /* HERO SECTION */

  .hero__img-wrapper {
    max-width: 38em;
    position: absolute;
    top: 0;
    right: 0;
  }

  .hero__content {
    text-align: left;
    margin: 0;
  }

  .title {
    font-size: 4rem;
    letter-spacing: 0.2656em;
    line-height: 1.1;
    margin-bottom: 0.297em;
  }

  .hero__desc {
    font-size: 1rem;
    line-height: 1.75;
  }
}
